html {
  height: 100%;
  width: 100%;
}

body {
  background-color: white; 
  color: #2D0707;
}

* { /* universal font */
  font-family: canva_sans, sans-serif, serif;
}

@font-face { /*custom font*/
  font-family: canva_sans;
  src: url(https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/CanvaSans-Regular15263162195051178836.f4.f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2?v=1734230486486); 
}

header {
  position: fixed; /*stays on top*/
  top: 0;
  left: 0;
  width:  100%; /*set size */
  height: 90px;
  padding: 10px;
  background-color: #01275A;
  color: white;
  z-index: 2; /* to show above other elements */
}

#logo{ /* for the logo on the top left/goes back to Home */
  display: block;
  height: 80px;
  width: 80px;
  top: 10px;
  left: 0;
  padding-left: 15px;
  padding-top: 5px;
  background: url("https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/home.png?v=1738739963737") no-repeat 0px 0px;
  transition: 0.3s;
  } 

#logo:hover { /*when ypu hover over the logo*/
  background: url("https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/homeGray.png?v=1738740003495") no-repeat 0px 0px;
}


.navitton { /* navigating buttons at the header */
  text-decoration: none;
  position: absolute;
  top: 45px;
  color: white;
  transition: 0.3s;
}

.navitton:hover { /* when hovering */
  color: #ff6947;
}

/* #calcu, #learn, and #examples are to fix the spacing */
#calcu {
  left: 20%;
}
#learn {
  left: 48%;
}
#examples {
  left: 70%;
}


div#div2 { /* basically the website's body. It is the long, light blue box */
  background-color: #cddff7;
  padding: 15px 20px 100%;
  height: 5000px; /*additional height to accomodate topics 1, 2, and 3 */
  margin-left: 8%;
  margin-right: 8%;
  
}

h1 {
  padding: 30px;
  border-radius:25px;
  border: 4px solid white;
  color: white;
  background-color: #ff6947;
  font-size: 300%;    
}

#title {
  box-sizing: border-box;
  height: 150px;
  width: 30%;
  position: absolute;
  top: 166px;
  text-align: center;
  margin: 0;
  
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#desc {
  position: relative;
  top:-30px;
}

#abc{ /* for the logo on the top left/goes back to Home */
  height: 273px;
  width: 314px;
  display: block;
  
  position: relative;
  top: 300px;
  
  display: block;
  
  text-align: center;
  text-decoration: none;
  color: black;
  font-size:150%;

  background: url("https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/gAmeBC.png?v=1738754336274") no-repeat 0px 0px;
  transition: 0.2s;
  } 

#abc:hover { /*when ypu hover over the logo*/
  background: url("https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/grAyBC.png?v=1738754441498") no-repeat 0px 0px;
}

figcaption {
  bottom:-100%;
  position: relative;
}




footer { /* for the fixed footer at the bottom. */
  bottom: 0;
  position: fixed;
  padding: 35px;
  width: 100%;
  background-color: #01275A;
  color: #5D8BCC;
  line-height: 90%;
  z-index: 2;
}

.footertton { /* navigating buttons at the footer */
  text-decoration: none;
  color: #5D8BCC;
  transition: 0.3s;
  position: relative;
  bottom: 10px;
  left: 20px;
}

.footertton:hover {
  color: #ff6947;
}

#both {
  display: inline-block;
  scale: 0.5;
  position: relative;
  margin-left: -5px;
  top: 15px;
  margin: -30px;
}

#fb {
  display: inline-block;
  background: url("https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/socMed.png?v=1738768798088") no-repeat -338px -167px;
	width: 64px;
	height: 62px;
  transition: 0.2s;
}

#gh {
  display: inline-block;
  background: url("https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/socMed.png?v=1738768798088") no-repeat -766px -167px;
	width: 61px;
	height: 61px;
  margin-left: 15px;
  transition: 0.2s;
}

#email {
  display: inline-block;
  background: url("https://cdn.glitch.global/7919643d-61cc-4c44-b0db-a7659a47c000/socMed.png?v=1738768798088") no-repeat -20px -168px;
	width: 61px;
	height: 62px;
  margin-left: 15px;
  transition: 0.2s;
}

#fb:hover {
  filter: grayscale(100%);
  scale:1.2;
}

#gh:hover {
  filter: grayscale(100%);
  scale:1.2;
}

#email:hover{
  filter: grayscale(100%);
  scale:1.2;
}

#sources { /* to adjust the "Sources"' position. "About" doesn't need adjusting. */
  position: relative;
  left: 100px;
}




/*all of the following is for the collapsable list*/

details {
  user-select: none;
}

details>summary span.icon {
  height: 5px;
  position: relative;
  right:50px;
  padding:2px;
  display:block;
  transition: all 0.3s;
  margin-left: none;
}

details[open] summary span.icon { /* for "cool" animation on the arrow */
  transform: rotate(90deg);
}

summary {
  /*display: flex; */
  cursor: pointer; /* curser turns into a pointer */
  text-align: center;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}